.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
}
.wrapper .grid-col-12 {
  flex: 12;
}
.wrapper .grid-col-4 {
  flex: 4;
}
.wrapper .grid-col-8 {
  flex: 8;
}
.wrapper.no-margin {
  width: 100%;
}
.wrapper:not(.no-margin) {
  width: 90%;
}
